.btb {
  width: 109px;
  height: 67px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ef9a9a;
}
.btb-text {
  font-size: 30px;
}
.padd {
  margin-right: 60px;
}
.pad {
  margin-bottom: 40px;
}
.red {
  margin-left: 140px;
}
.main {
  background-color: #1c7430;
  padding: 40px;
}
